{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Sign up - Sign in | APPS </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome/welcome.css')}}">
</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html>
<head>
  {% block header %}

  
  {% endblock header %} 
</head>
<body>
  
  {% block content %} 
    {% if name %}
      <h1>{{name}}</h1>
    {% else %}
      <h1> Name is not Found</h1>
    {% endif %}

    {% for quote in quotes %}
      <h4>{{quote[0]}}</h4>
      <p>{{1}}</p>
    {% endfor %}

  {% endblock content %}
</body>
</html>


</body>
</html>